<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Form Player</title>
    <link rel="icon" type="image/png" th:href="@{/soccer.png}">

    <link rel=stylesheet th:href="@{football/style.css}">
    <link rel=stylesheet type=text/css th:href="@{football/layerslider.css}">
    <link rel=stylesheet th:href="@{football/vendor.css}">

</head>
<body style="background-image: url('errorBg.jpg');">

<header class=header-main>
    <div class=header-upper>
        <div class=container>
            <div class=row>
                <ul>
                    <li><a href="#">Proiect Pweb</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-lower clearfix">
        <div class=container>
            <div class=menubar>
                <nav class=navbar>
                    <div class=nav-wrapper>
                        <div class=navbar-header>
                            <button type=button class=navbar-toggle><span class=sr-only>Toggle navigation</span>
                                <span class=icon-bar></span></button>
                        </div>
                        <div class=nav-menu>
                            <ul class="nav navbar-nav menu-bar">
                                <li><a href="home">Home <span></span> <span></span>
                                    <span></span> <span></span></a></li>
                                <li><a href="overviewPlayer">Overview <span></span> <span></span> <span></span>
                                    <span></span></a></li>
                                <li><a href="players">Details<span></span> <span></span> <span></span>
                                    <span></span></a></li>
                                <li><a href="formPlayer">Add player<span></span> <span></span> <span></span>
                                    <span></span></a></li>
                                <li><a href="contact">Contact <span></span> <span></span> <span></span>
                                    <span></span></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
</div>

<div class=errorWrapper >
<div class=errorHolderWrap>
        <div class=errorHolder>
            <h2>404</h2><h4>not found</h4>

        </div>
</div>
</div>

<script src=js/vendor/vendor.js></script>
<script src=js/main.js></script>
</body>

</html>