<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" type="image/png" th:href="@{soccer.png}">

    <link rel=stylesheet th:href="@{football/style.css}">
    <link rel=stylesheet type=text/css th:href="@{football/layerslider.css}">


</head>
<body>

<header class=header-main>
    <div class=header-upper>
        <div class=container>
            <div class=row>
                <ul>
                    <li><a href="#">Proiect Pweb</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-lower clearfix">
        <div class=container>
            <div class=menubar>
                <nav class=navbar>
                    <div class=nav-wrapper>
                        <div class=navbar-header>
                            <button type=button class=navbar-toggle><span class=sr-only>Toggle navigation</span>
                                <span class=icon-bar></span></button>
                        </div>
                        <div class=nav-menu>
                            <ul class="nav navbar-nav menu-bar">
                                <li><a href="home" class=active>Home <span></span> <span></span>
                                    <span></span> <span></span></a></li>
                                <li><a href="overviewPlayer">Overview <span></span> <span></span> <span></span>
                                    <span></span></a></li>
                                <li><a href="players">Details<span></span> <span></span> <span></span>
                                    <span></span></a></li>
                                <li><a href="formPlayer">Add player<span></span> <span></span> <span></span>
                                    <span></span></a></li>
                                <li><a href="contact">Contact <span></span> <span></span> <span></span>
                                    <span></span></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
</div>

<div class=banner id=layerSlider style="width: 100%;">
    <div class=ls-slide data-ls="transition3d: 33,15; slidedelay: 8000 ; durationin:0;"><img
            th:src="@{football/background01.jpg}" class=ls-bg alt="Slide background"/>

        <div class="ls-l layercontent01" style="top: 50%; left: 50%; z-index:4;"
             data-ls="offsetxin:left; offsetxout:right; durationin: 4000; parallaxlevel: 8;"><img
                th:src="@{football/player.png}" alt=innerimage class=img-responsive
                style="max-width: 100% !important ;"></div>
        <img th:src="@{football/ball.png}" alt=innerimage class="ls-l layercontent02" style=z-index:5;
             data-ls="offsetxin: right; offsetxout:left; rotatein:-360; easingin: easeoutquart; durationin: 4000; delayin: 250; parallaxlevel: -5;">
        <img th:src="@{football/front_particles.png}" alt=particles class=ls-l style="z-index:3; left:0;"
             data-ls="offsetxin: left; offsetxout:left; scalexin:50; easingin: easeoutquart; durationin: 3000; delayin: 250;">
        <img th:src="@{football/back_particles.png}" alt=particles class=ls-l style="z-index:3; left:50%;"
             data-ls="offsetxin: left; offsetxout:left; scalein:90; easingin: easeoutquart; durationin: 3000; delayin: 250;">
        <h2 class="ls-l bannertext layercontent03" data-ls="offsetxin:left; rotatexin:90 ; durationin: 3500;">
            PWeb</h2>

        <h2 class="ls-l bannertext01 italic01 layercontent04"
            data-ls="offsetxin:left; scalexin:9; durationin: 4000;">Proiect</h2>
    </div>
    <div class=banner-text>
        <div class=container>
            <div class=row>action start from 21<sup>st</sup> july , 2015.</div>
        </div>
    </div>

</div>

<div class="footer">
    <div class="footer__documentation">
        <h3 class="text__gradient--bg">Documentation</h3>
        <a href="https://www.w3schools.com/html/">HTML</a>
        <a href="https://www.w3schools.com/css/">CSS</a>
        <a href="https://www.javascript.com">Javascript</a>
        <a href="https://spring.io/projects/spring-boot">Spring</a>
        <a href="https://start.spring.io/">Spring Initializr</a>
    </div>
    <div class="footer__contact">
        <h3 class="text__gradient--bg">Daniel</h3>
        <a href="https://www.facebook.com/danielflorin.tintea/">Facebook</a>
        <a href="https://www.instagram.com/tintea.daniel11/">Instagram</a>
        <a href="https://wa.me/40733122893">Whatsapp</a>
    </div>
    <div class="footer__copyrights">
        <p>Project <a href="">github</a></p>
        <p>site design / logo © <a href="https://www.templateshub.net/template/Soccer-Club-Sports-Club-Html-Template">theme</a></p>
        <p>Proiect @ PWeb</p>
    </div>
</div>


</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script th:src="@{football/vendor.js}"></script>
<script th:src="@{football/main.js}"></script>


</html>